@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@200&family=Poppins:wght@200&display=swap");
* {
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 3px;
  font-size: 10px;
}

th {
  background-color: rgb(21, 146, 119);
}

td {
  background-color: rgb(37, 248, 231);
}

form {
  display: flex;
  gap: 1px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
}
button {
  border: 1px solid black;
  width: 15vw;
  height: 7vh;
  text-align: center;
  margin-top: 4vh;
  background-color: none;
}
